.node-type-company,
.view-companies {
  .field-name-field-company-logo {
    margin-bottom: 20px;
  }

  .field-name-field-company-link {
    margin-bottom: 10px;

    .field-label {
      margin-right: 5px;
    }
  }

  .field-name-field-company-address {
    margin-bottom: 10px;

    .field-label {
      margin-right: 5px;
    }
  }
}

.view-companies {
  .view-content {
    & > div {
      margin-bottom: 20px;
    }
  }
}
