.navbar > .container {
  // logo
  .navbar-brand {
    color: @navbar-default-brand-color;
    text-align: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: @grid-gutter-width / 2;
    background-position: 135px 8px;

    &:hover, &:focus {
      color: @navbar-default-brand-hover-color;
    }

    .site-name {
      font-size: @font-size-site-name;
      margin-bottom: 8px;
      letter-spacing: 1px;
    }

    .site-slogan {
      margin-left: 4px;
      font-size: @font-size-site-slogan;
      display: block;
    }

    @media @tablet {
      margin-left: auto;
    }
  }
}
